.Rproj.user
.Rhistory
.RData
.DS_Store
.httr-oauth
.quarto
inst/doc
data/
sandbox/
_targets/

/.quarto/
/doc/
/Meta/
.spack-env
.spack/
.container-home/
.container-tmp/

*.err
*.out
*.log
*.vdoc*
*.sif
*.envrc
*.pkl
**/submitit/*
**/*.quarto_ipynb
